{block content}
<p>Údaje:<br>
 Vaše PSČ: {$udaje->psc}<br>
 Váš e-mail: {$udaje->email}<br>
 Váš věk: {$udaje->vek}<br>
 Váš typ vozidla: {$udaje->vozidlo}<br>
 Objem vašeho vozidla:{$udaje->objem_vozidla}<br>
 Výkon vašeho vozidla: {$udaje->vykon_vozidla}<br>
 Hmotnost vašeho vozidla:{$udaje->hmotnost}<br>
 Cena vašeho pojisštení: {$cena}<br>
 </p>
{/block}
