{* Latte template *}

{block content}
<p>Údaje:<br>
 {$udaje->psc}<br>
 {$udaje->email}<br>
 {$udaje->vek}<br>
 {$udaje->vozidlo}<br>
 {$udaje->objem_vozidla}<br>
 {$udaje->vykon_vozidla}<br>
 {$udaje->hmotnost}<br>
 </p>
{/block}